<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Ajc-Fakir-Calculette</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://bootstrapdocs.com/v1.4.0/js/bootstrap-modal.js"></script>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
	</head>

	<body>

		<div class="container">
			<div class="jumbotron">
				<h2>Liste élèves</h2>
				<p>C.R.U.D</p>
			</div>


			<div class="row spacer">
				<div class="col-xs-12">
					<table class="table blue-grey lighten-4" id="tabEleves">
						<thead>
							<tr class="table-dark">
							  <th scope="col">#</th>
							  <th scope="col">Nom</th>
							  <th scope="col">Prenom</th>
							  <th scope="col">Age</th>
							  <th scope="col">Actions</th>
							</tr>
						</thead>
						<tbody class="table-dark">

						</tbody>
					</table>
					<button type="button" class="btn btn-info " onclick="showForm()">Ajouter</button>
				</div>
			</div>


			<div class="row" id="divForm">
				<fieldset class="fieldset1" id="formEleve">
					<legend  id="legende">Ajouter un élève</legend>
					<form class="form-inline" action="crud.html" id="form">
						<div class="form-group">
						  <label for="id">Id:</label>
						  <input type="id" class="form-control" id="idForm" value ="" placeholder="id" name="id">
						</div>
						<div class="form-group">
						  <label for="nom">Nom:</label>
						  <input type="nom" class="form-control" id="nomForm" value ="" placeholder="Nom" name="nom">
						</div>
						<div class="form-group">
						  <label for="prenom">Prénom:</label>
						  <input type="prenom" class="form-control" id="prenomForm" value ="" placeholder="Prénom" name="prenom">
						</div>
						<div class="form-group">
						  <label for="age">Age:</label>
						  <input type="age" class="form-control" id="ageForm" value ="" placeholder="Age" name="age">
						</div>
						<button type="button" class="btn btn-info" onclick="add()">
							<span class="glyphicon glyphicon-ok"></span>
						</button>
						<button type="button" class="btn btn-primary" onclick="hideForm()">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
					</form>
				</fieldset>
			</div>
